.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  border: 5px solid rgba(50, 50, 50, 0.8);
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 100px 10px 100px;
  gap: 10px;
}

.img-wrapper {
  background-color: rgba(50, 50, 50, 1);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-content img {
  width: 400px;
  height: 420px;
  object-fit: contain;
  object-position: center;
}

.profile-content h1 {
  color: #000000;
}

.profile-content h2 {
  color: rgba(50, 50, 50, 0.5);
}

.indicator-wrapper {
  border-top: 5px solid gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indicator-item:nth-child(1) {
  border: none;
}

.indicator-item {
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-left: 5px solid gray;
  background-color: rgba(50, 50, 50, 0.3);
}

.indicator-item h2 {
  color: rgba(50, 50, 50, 1);
}
.indicator-item h3 {
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
}
