.friends-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.friend-item {
  padding: 15px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  border: 5px solid rgba(50, 50, 50, 0.9);
  border-radius: 15px;
}

.friend-item img {
  width: 100px;
  height: 100px;
}

.friend-item h2 {
  color: #000000;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
